.info-first{
    background-image: linear-gradient(to right, #49DCE1, #39A3FB);
}

.white-text{
    color: #FFFFFF;
}

input[type=radio] {
  padding: 0.5em;
  -webkit-appearance: none;
  outline: 0.1em solid #06bae8;
  outline-offset: 0.1em;
}

input[type=radio]:checked {
  display: inline-block;
  background-color: #06bae8;
}

input[type=radio]:hover {
  display: inline-block;
  background-color: #06bae8;
}